.container {
    display: flex;
    align-items: center;
    justify-content: center;
    flex-direction: column;
    height: 80vh;
    width: 100vw;
}

.grid_container {
    display: grid;
    grid-template-rows: auto auto;
    grid-template-columns: auto auto;
    gap: 10px;
    width: 100%;
}

.grid_item {
    border: 1px solid #ccc;
    margin: 20px;
    text-align: center;
}

.parent-container {
    position: relative;
}

.pokemon {
    position: relative;
    z-index: 1;
}

.fadded {
    opacity: 0.5;
    filter: brightness(0);
}

.score {
    padding: 1rem;
    border-radius: 30%;
    position: absolute;
    top: 15vh;
    right: 30vw;
    background-color: rgb(225, 0, 255);
    z-index: 2;
    -webkit-box-shadow: -30px 30px 5px 0px rgba(0, 0, 0, 0.75);
    -moz-box-shadow: -30px 30px 5px 0px rgba(0, 0, 0, 0.75);
    box-shadow: -30px 30px 5px 0px rgba(0, 0, 0, 0.75);
    display: flex;
    align-items: center;
    justify-content: center;
    align-content: center;
    color: white;
    font-size: 1.5rem;
    font-weight: bold;
}

.pokeball_button {
    width: 40px;
    height: 40px;
}

.pokemon_image {
    width: 500px;
    height: 500px;
}

h2 {
    margin: 0;
    font-size: 2rem;
    color: white;
}

.option_button {
    padding: 10px 20px;
    border: none;
    border-radius: 5px;
    font-size: 16px;
    cursor: pointer;
}

.option_button:hover {
    background-color: #f0f0f0;
}

.option_button.correct {
    background-color: #32CD32;
}

.option_button.incorrect {
    background-color: #FF6347;
}

.blink {
    animation: blink-animation 1s steps(5, start) infinite;
}

@keyframes blink-animation {
    to {
        visibility: hidden;
    }
}
