:root {
  --fonteKanit: "Kanit", sans-serif;
  --fonteMadimi: "Madimi One", sans-serif;
  --branco: #fff;
  --preto: #000;
  --cinza: #f5f5f5;
}


body {
  height: 100%;
  margin: 0;
  padding: 0;
  font-family: var(--fonteKanit);
  -webkit-font-smoothing: antialiased;
  -moz-osx-font-smoothing: grayscale;
  background-color: var(--branco);
}

#root {
  display: flex;
  flex-direction: column;
  height: 100%;
}

.Container {
  flex: 1;
}

.Rodape {
  flex-shrink: 0;
}

code {
  font-family: source-code-pro, Menlo, Monaco, Consolas, 'Courier New',
    monospace;
}
